﻿<nav class="navbar navbar-app navbar-absolute-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <div class="navbar-brand navbar-brand-center" ui-yield-to="title">
                Pipeline
            </div>
        </div>
        <div class="collapse navbar-collapse btn-group" id="myNavBar">
            <ul class="nav navbar-nav navbar-left">
                <li ng-class="{ active: isActive('#/home')}"><a href="#/home">Home</a></li>
                <li ng-class="{ active: isActive('#/about')}"><a href="#/about">About</a></li>
                <li ng-class="{ active: isActive('#/users')}"><a href="#/users">USERS-TEST</a></li>

            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li ng-class="{ active: isActive('#/login')}">
                    <a href="#/login"><span class="glyphicon glyphicon-log-in"></span> Login</a>
                </li>
            </ul>
        </div>
    </div>
</nav>